.wrap-isi
{
    overflow: visible;
}

.about .us 
{
    width: 36.75rem;
    margin-right: 640px;
}
.about .us h1
{
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 96%;
    color: #0B4619;
    margin-top: 200px;
    margin-bottom: 64px;
    margin-right: 400px;
    width: 262px;
}
.about .ceo .g-ceo img
{
    width: 36.75rem;
    height: 20.813rem;
    margin-right: 64px;
}
.about .ceo .quote 
{
    margin-right: 140px;
}
.about .ceo .quote h5
{
    width: 27.625rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 148%;
    color: rgba(0, 0, 0, 0.75);
}
.about .ceo .quote h4
{
    width: 27.625rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 148%; 
    color: rgba(0, 0, 0, 0.75);
}

.about .wrap-isi .wrap-fasi
{
    margin-top: 70px;
}
.about .wrap-isi .fasilitas h1
{
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 96%;
    color: #0B4619;
    margin-bottom: 70px;
}
.about .wrap-isi .fasilitas .f .free h5
{
    margin-right: 5px;
    margin-bottom: 36px;
}
.about .wrap-isi .fasilitas .f .free .parkir
{
    margin-bottom: 49px;
}
.about .wrap-isi .fasilitas .f .free h5 span
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 148%;
    color: #0B4619;
    margin-left: 21px;
}

.about .wrap-isi .fasilitas .foto
{
    width: 53.125rem;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
    top: -130px;
}
.about .wrap-isi .fasilitas .foto .foto1 img
{
    width: 17.625rem;
    height: 15.688rem;
    margin-right: 24px;
    margin-bottom: 24px;
}
.about .wrap-isi .fasilitas .foto .foto2 img
{
    width: 24rem;
    height: 15.688rem;
    margin-bottom: 24px;
}
.about .wrap-isi .fasilitas .foto .foto3 img
{
    width: 24rem;
    height: 15.688rem;
    margin-right: 24px;
    margin-bottom: 24px;
}
.about .wrap-isi .fasilitas .foto .foto4 img
{
    width: 17.625rem;
    height: 15.688rem;
    margin-bottom: 24px;
}

.about .wrap-isi .fasilitas .f .free .iconify
{
    font-size: 48px;
}

@media only screen and (max-width: 1400px)
{
    .about .wrap-isi .fasilitas .f .free h5
    {
        width: 23.125rem;
        margin-right: 0px;
        margin-bottom: 36px;
    }
}

/* responsive */
@media only screen and (max-width: 980px)
{
    .about .us h1 
    {
        font-size: 48px;
        margin-bottom: 32px;
    } 
    .about .us 
    {
        width: 19.5rem;
        margin-right: 0px;
    }
    .about .ceo .g-ceo img
    {
        width: 19.5rem;
        height: 11.063rem;
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .about .ceo .quote 
    {
        margin-right: 0px;
        margin-left: 0px;
    }
    .about .ceo .quote h5
    {
        width: 19.5rem;
        font-size: 16px;
    }
    .about .ceo .quote h4
    {
        width: 19.5rem;
        font-size: 16px;
    }

    .about .wrap-isi .fasilitas .foto
    {
        width: 21.5rem;
        overflow: visible;
        flex-direction: row;
        flex-wrap: wrap;
        top: 0px;
    }
    .about .wrap-isi .fasilitas .foto .foto1 img
    {
        width: 8rem;
        height: 7.063rem;
        margin-right: 11px;
        margin-bottom: 11px;
    }
    .about .wrap-isi .fasilitas .foto .foto2 img
    {
        width: 10.813rem;
        height: 7.063rem;
        margin-bottom: 11px;
    }
    .about .wrap-isi .fasilitas .foto .foto3 img
    {
        width: 10.813rem;
        height: 7.063rem;
        margin-right: 11px;
        margin-bottom: 11px;
    }
    .about .wrap-isi .fasilitas .foto .foto4 img
    {
        width: 8rem;
        height: 7.063rem;
        margin-bottom: 11px;
    }

    .about .wrap-isi .wrap-fasi
    {
        margin-top: 48px;
        justify-content: center;
    }

    
    .about .wrap-isi .fasilitas 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .wrap-isi .fasilitas .wraph1 
    {
        width: 19.5rem;
    }

    .about .wrap-isi .fasilitas h1
    {
        font-size: 48px;
        line-height: 96%;
        color: #0B4619;
        margin-bottom: 32px;
    }

    .about .wrap-isi .fasilitas .f .free h5
    {
        width: 20.125rem;
        margin-right: 0px;
        margin-left: 16px;
        margin-bottom: 26px;
        margin-top: 33px;
    }
    .about .wrap-isi .fasilitas .f .free .iconify
    {
        font-size: 32px;
    }
    .about .wrap-isi .fasilitas .f .free h5 span
    {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 148%;
        color: #0B4619;
        margin-left: 16px;
    }
}