.footer_area{
    background-color: rgba(11, 70, 25, 1);
    font-family: 'Montserrat';
    font-style: normal;
    color: white;
    padding: 4.375rem 13.875rem 4.375rem;
}

.footer_area .footer_logo{
    width: 11.375rem;
    margin-bottom: 1.9rem;
}

.footer_content p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 148%;

    width: 25.75rem;
}

.footer_content .footer_title{
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 148%;

    margin-bottom: 1.75rem;
}

.footer_content .kolom2 .slinks{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 148%;
    color: #FFFFFF;

    margin-bottom: 0.75rem;
}

.footer_content .kolom3 .qlinks{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 148%;
    color: #FFFFFF;

    margin-bottom: 0.75rem;
}

.footer_content .row .kolom4 .subscribe_box{
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: white;
}

.footer_content .row .kolom4 .subscribe_box .form_sub{
    width: 100%;
    /* border-radius: 12px; */
    border: none;
    outline: none;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 148%;    
    color: rgba(0, 0, 0, 0.5)
}

.footer_content .row .kolom4{
    margin-top: 4.5rem;
}

.footer_content .row .kolom4 .btn_sub{
    border: none;
    border-radius: 0.75rem;
    background: rgba(237, 162, 74, 1);
    padding: 0.525rem 2rem;
    
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 148%;
    color: #FFFFFF;
}

.footer_content .row .kolom4 .btn_sub.hidden{
    width: 100%;
    margin-top: 1rem;
}

.footer_content .row.copy{
    margin-top: 4.375rem;
    text-align: center;
}

.footer_content .row.copy p{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 148%;

}

@media only screen and (max-width:1025px) {
    .footer_area{
        padding: 5.375rem 4.5rem 3.5rem;
    }
}

@media only screen and (max-width:993px) {

    .footer_area{
        padding: 5.375rem 4rem 3.875rem;
    }

    .footer_content p{
        width:auto;
    }

    .footer_content .row .kolom4{
        margin-top: 3rem;
    }
}

@media only screen and (max-width:577px){
    .footer_area{
        padding: 3rem 1.25rem;
    }

    .footer_area .footer_logo{
        margin-bottom: 1rem;
    }

    .footer_content .footer_title{
        margin-bottom: 1rem;
    }

    .footer_content .kol.kolom4 .footer_title{
        margin-bottom: 1.5rem;
    }

    .footer_content .kol{
        margin-bottom: 3rem;
    }

    .footer_content .row.copy{
        margin-top: 43px;
    }

}