.header,p,h1{
    margin: 0;
}

.header .box{
    height: 100vh;
}

.header .box.kiri .left_holder{
    margin-top: 5rem;
}

.header .box.kiri .left_holder .info_holder .rotate{
    transform: rotate(-90deg);
}

.header .box.kanan{
    padding: 0;
}

.header .box.kanan .right_holder{
    margin-top: 5rem;
}

.header .box.kanan .right_holder .box_atas{
    background-image: url(../img/banner_header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header .box.kanan .right_holder .img_main{
    top: 8rem;
}

.header .box.kanan .right_holder .header_title{
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 700;
    font-size: 4rem;
    line-height: 96%;
    color: white;

    width: 28rem;
    margin-bottom: 1.25rem;
    margin-top: 9.2rem;
}

.header .box.kanan .right_holder .header_para{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 148%;
    color: rgba(255, 255, 255, 0.75);

    width: 32rem;
    margin-bottom: 3.5rem;
}

.header .box_bawah{
    padding: 4rem 0;
}

.header .box_bawah .learn{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 96%;
    color: rgba(0, 0, 0, 0.75);

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    width: 10.75rem;
    padding: 1rem 0 1rem;
    background-color: white;
    transition: 0.5s;
}

.header .box_bawah .learn:hover{
    width: 12rem;
    background-color: rgba(11, 70, 25, 1);
    border: 1px solid #0B4619;
    color: white;
}